In [62]:
import pandas as pd
import json
import os

SIMPLE JSON

In [27]:
with open("example_json.json") as fp:
    data = json.load(fp)

In [28]:
data

{'person': {'full name': 'Marianne Klein',
  'address': [{'street': '861 Conroy Passage', 'city': 'Williamsfield'},
   {'street': '863 Conroy Passage', 'city': 'Amsterdam'}]}}

In [29]:
df = pd.json_normalize(data)

In [30]:
df

  person.full name                                     person.address
0   Marianne Klein  [{'street': '861 Conroy Passage', 'city': 'Wil...

In [31]:
df=df.explode('person.address').reset_index(drop=True)

In [32]:
df

  person.full name                                     person.address
0   Marianne Klein  {'street': '861 Conroy Passage', 'city': 'Will...
1   Marianne Klein  {'street': '863 Conroy Passage', 'city': 'Amst...

HIGHLY COMPLEX JSON

In [33]:
with open("generated.json") as fp:
    data = json.load(fp)

In [34]:
data

[{'_id': '62f0b6996b5ffba02140972b',
  'index': 0,
  'guid': 'c6969988-3028-4533-a0d3-19e0bc2d2895',
  'isActive': True,
  'balance': '$1,719.20',
  'picture': 'http://placehold.it/32x32',
  'age': 40,
  'eyeColor': 'green',
  'name': 'Jordan Allen',
  'gender': 'female',
  'company': 'FUTURIS',
  'email': 'jordanallen@futuris.com',
  'phone': '+1 (912) 514-3472',
  'address': '868 Riverdale Avenue, Robinette, Kentucky, 1463',
  'about': 'Tempor magna sunt amet exercitation magna. Aute cupidatat adipisicing ad dolor cupidatat culpa. Ipsum minim labore amet voluptate veniam aute pariatur ullamco Lorem voluptate consequat magna sunt dolor. Proident nostrud sit dolor nisi est cupidatat ad culpa quis Lorem tempor id eiusmod. Deserunt et ut ullamco reprehenderit officia. Incididunt eu duis amet in enim. Exercitation Lorem voluptate veniam ipsum qui reprehenderit tempor nulla sit.\r\n',
  'registered': '2019-08-26T06:25:06 -06:-30',
  'latitude': 73.069673,
  'longitude': 137.207595,
  'tags': ['non', 'mollit', 'velit', 'laborum', 'qui', 'ipsum', 'sint'],
  'friends': [{'id': 0, 'name': 'Jimmie Miles'},
   {'id': 1, 'name': 'Stacy Holt'},
   {'id': 2, 'name': 'Michael Larson'}],
  'greeting': 'Hello, Jordan Allen! You have 10 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '62f0b69977affbec511ebe04',
  'index': 1,
  'guid': 'e5384a44-8153-404b-9ec8-7d24ab2e22c6',
  'isActive': False,
  'balance': '$2,705.88',
  'picture': 'http://placehold.it/32x32',
  'age': 34,
  'eyeColor': 'brown',
  'name': 'Courtney Mendoza',
  'gender': 'female',
  'company': 'DEVILTOE',
  'email': 'courtneymendoza@deviltoe.com',
  'phone': '+1 (975) 547-2209',
  'address': '268 Engert Avenue, Jugtown, Virgin Islands, 1655',
  'about': 'Veniam id amet est esse irure ad veniam non. Aliqua tempor adipisicing qui excepteur magna consequat sit incididunt est. Id esse occaecat exercitation excepteur. Dolore quis est voluptate Lorem cillum.\r\n',
  'registered': '2020-07-05T06:27:06 -06:-30',
  'latitude': 45.191384,
  'longitude': 165.063785,
  'tags': ['minim', 'ullamco', 'ipsum', 'aliqua', 'Lorem', 'tempor', 'elit'],
  'friends': [{'id': 0, 'name': 'Kim Grant'},
   {'id': 1, 'name': 'Sykes Dale'},
   {'id': 2, 'name': 'Combs Logan'}],
  'greeting': 'Hello, Courtney Mendoza! You have 10 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '62f0b699828121aa11c708ef',
  'index': 2,
  'guid': 'b8c74f73-a553-4100-8705-85044594b14f',
  'isActive': False,
  'balance': '$1,085.46',
  'picture': 'http://placehold.it/32x32',
  'age': 25,
  'eyeColor': 'green',
  'name': 'Gates Rivas',
  'gender': 'male',
  'company': 'HOMETOWN',
  'email': 'gatesrivas@hometown.com',
  'phone': '+1 (807) 586-3429',
  'address': '567 Colonial Road, Coldiron, Puerto Rico, 6129',
  'about': 'Sint velit velit nostrud excepteur ullamco. Aliqua fugiat consectetur incididunt laboris et nulla nulla. Labore tempor incididunt tempor ut.\r\n',
  'registered': '2018-11-13T03:18:38 -06:-30',
  'latitude': -57.671522,
  'longitude': 97.722594,
  'tags': ['proident',
   'esse',
   'reprehenderit',
   'reprehenderit',
   'aliquip',
   'veniam',
   'ea'],
  'friends': [{'id': 0, 'name': 'Goodwin Randolph'},
   {'id': 1, 'name': 'Gibson George'},
   {'id': 2, 'name': 'Mosley Francis'}],
  'greeting': 'Hello, Gates Rivas! You have 4 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '62f0b699e4f1537974577cbe',
  'index': 3,
  'guid': '5202e6fd-c66c-4c02-90ae-edbb3e96ac6d',
  'isActive': False,
  'balance': '$1,118.10',
  'picture': 'http://placehold.it/32x32',
  'age': 38,
  'eyeColor': 'brown',
  'name': 'Lopez Donaldson',
  'gender': 'male',
  'company': 'MUSIX',
  'email': 'lopezdonaldson@musix.com',
  'phone': '+1 (859) 552-2093',
  'address': '631 Clifton Place, Baden, New Mexico, 7208',
  'about': 'Deserunt laboris proident est ut aliqua incididunt et fugiat ad nostrud eiusmod cillum laborum mollit. Sit ut eiusmod incididunt do id. Irure ut id in pariatur excepteur ipsum incididunt excepteur. Exercitation officia dolore velit magna tempor deserunt esse.\r\n',
  'registered': '2018-03-03T04:14:38 -06:-30',
  'latitude': 43.026358,
  'longitude': 83.525254,
  'tags': ['ex',
   'labore',
   'officia',
   'magna',
   'tempor',
   'dolore',
   'consectetur'],
  'friends': [{'id': 0, 'name': 'Rosario Key'},
   {'id': 1, 'name': 'Olson Long'},
   {'id': 2, 'name': 'Gamble Burke'}],
  'greeting': 'Hello, Lopez Donaldson! You have 6 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '62f0b699e7ef05cedbaf24ae',
  'index': 4,
  'guid': '5c9a9199-3ed2-40ed-bfd6-123f0045c536',
  'isActive': True,
  'balance': '$3,203.61',
  'picture': 'http://placehold.it/32x32',
  'age': 35,
  'eyeColor': 'green',
  'name': 'Gillespie Blankenship',
  'gender': 'male',
  'company': 'BEDLAM',
  'email': 'gillespieblankenship@bedlam.com',
  'phone': '+1 (838) 510-2864',
  'address': '451 Seagate Avenue, Beyerville, North Carolina, 7135',
  'about': 'Ad proident laborum ut cillum laboris elit ex fugiat id. Nostrud sit aliquip qui amet occaecat qui nisi ut. Excepteur nostrud irure dolor ex magna dolor anim incididunt sit cupidatat consectetur esse officia.\r\n',
  'registered': '2020-08-16T02:00:49 -06:-30',
  'latitude': -49.601916,
  'longitude': 21.588797,
  'tags': ['duis', 'amet', 'magna', 'aute', 'qui', 'aliquip', 'sunt'],
  'friends': [{'id': 0, 'name': 'Kayla Wood'},
   {'id': 1, 'name': 'Shawna Russo'},
   {'id': 2, 'name': 'Lorraine Cannon'}],
  'greeting': 'Hello, Gillespie Blankenship! You have 8 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '62f0b699016a3560b0a33a0f',
  'index': 5,
  'guid': 'd0a944c4-9c2b-4aa2-a748-1b4dd9464bee',
  'isActive': True,
  'balance': '$2,164.61',
  'picture': 'http://placehold.it/32x32',
  'age': 26,
  'eyeColor': 'green',
  'name': 'Mccullough Fulton',
  'gender': 'male',
  'company': 'PROWASTE',
  'email': 'mcculloughfulton@prowaste.com',
  'phone': '+1 (801) 533-3738',
  'address': '598 Kensington Walk, Harrodsburg, South Dakota, 7780',
  'about': 'Ipsum culpa labore dolore aliquip sunt ex deserunt excepteur enim cupidatat voluptate eiusmod incididunt. Dolor mollit eiusmod in culpa. Excepteur aliqua cillum culpa amet ex mollit voluptate ipsum sit. Officia ipsum culpa nostrud nostrud anim exercitation minim consectetur consectetur mollit excepteur pariatur.\r\n',
  'registered': '2017-03-15T04:09:14 -06:-30',
  'latitude': -19.919437,
  'longitude': -119.567468,
  'tags': ['enim', 'occaecat', 'duis', 'cillum', 'dolore', 'id', 'quis'],
  'friends': [{'id': 0, 'name': 'Gabrielle Mckee'},
   {'id': 1, 'name': 'Summers Gross'},
   {'id': 2, 'name': 'Ellison Melendez'}],
  'greeting': 'Hello, Mccullough Fulton! You have 10 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '62f0b6992ef337d7b0f9c25e',
  'index': 6,
  'guid': '958bace7-72b7-4962-b6d0-2fa1e01b9879',
  'isActive': False,
  'balance': '$2,602.72',
  'picture': 'http://placehold.it/32x32',
  'age': 23,
  'eyeColor': 'blue',
  'name': 'Rachelle Lee',
  'gender': 'female',
  'company': 'EQUITAX',
  'email': 'rachellelee@equitax.com',
  'phone': '+1 (815) 433-2818',
  'address': '537 Hope Street, Avalon, Federated States Of Micronesia, 1678',
  'about': 'Anim velit occaecat laboris nulla minim pariatur. Ex dolore tempor est aliquip. Sunt sunt tempor fugiat officia excepteur quis esse commodo labore. Anim velit commodo irure cupidatat ullamco. Commodo sunt anim adipisicing amet eiusmod fugiat enim irure ad est. Reprehenderit dolore irure veniam aute et. Anim est eiusmod ea do.\r\n',
  'registered': '2018-01-26T02:48:34 -06:-30',
  'latitude': 43.052351,
  'longitude': -73.636871,
  'tags': ['ullamco', 'officia', 'veniam', 'do', 'enim', 'sunt', 'ullamco'],
  'friends': [{'id': 0, 'name': 'Melisa Morgan'},
   {'id': 1, 'name': 'Jacobs Cross'},
   {'id': 2, 'name': 'Margaret Frazier'}],
  'greeting': 'Hello, Rachelle Lee! You have 4 unread messages.',
  'favoriteFruit': 'apple'}]

In [57]:
def normalize_friends(dat):
    df = pd.json_normalize(dat['friends'])
    # df = df.explode('friends').reset_index(drop=True)
    return df

In [58]:
def normalize_user(dat):
    reqd_cols = ['guid','isActive','balance','picture','age','eyeColor','name','gender','company','email',
            'phone','address','registered']
    df = pd.json_normalize(dat)
    df = df[reqd_cols]
    # df = df.explode('friends').reset_index(drop=True)
    return df

In [68]:
return_dict = {}
for dat in data:
    return_dict['friends_df'] = normalize_friends(dat)
    return_dict['user_df'] = normalize_user(dat)

    for key in return_dict.keys():
        return_dict[key].to_csv(os.path.join('extracted_data', f'{key}.csv'), header=False, index=True, mode='a')

In [60]:
friends_df

   id              name
0   0     Melisa Morgan
1   1      Jacobs Cross
2   2  Margaret Frazier

In [61]:
user_df

,guid,isActive,balance,picture,age,eyeColor,name,gender,company,email,phone,address,registered
0,958bace7-72b7-4962-b6d0-2fa1e01b9879,False,"$2,602.72",http://placehold.it/32x32,23,blue,Rachelle Lee,female,EQUITAX,rachellelee@equitax.com,+1 (815) 433-2818,"537 Hope Street, Avalon, Federated States Of M...",2018-01-26T02:48:34 -06:-30